<!doctype html>
<html lang="en">
<meta charset="utf8">
<title>Base</title>
<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
<link rel="shortcut icon" href="/static/images/favicon.ico">
<link rel="stylesheet" media="screen" href="/static/css/base.min.css">
<script>
if (window.location.host.substr(-10) == '.github.io'
    && window.location.protocol != 'https:') {
  window.location.protocol = 'https:';
}
</script>
{% block head %}{% endblock %}
<body>
{% block body %}{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-69077173-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
